:root {
  --primary-text-color: #212121;
  --main-text-color: #ffffff;
  --secondary-text-color: #757575;
  --aditional-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --specific-text-color: #000000;
  --secondary-background-color: #2f303a;
  --background-extra-color: #f5f4fa;
}

/* body */
.body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style: none;
}

/* logo  */

.logo {
  color: var(--specific-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo-web {
  color: var(--aditional-color);
}
/* nav menu */

.link {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--aditional-color);
}

.current {
  color: var(--aditional-color);
}

/*contacts*/

.contact-link {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--aditional-color);
}

/*   Filters   */

.main-btn: {
  color: var(--primary-text-color);
  background-color: var(--background-extra-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.6;
}

.main-btn:active,
.main-btn:hover,
.main-btn:focus {
  color: var(--main-text-color);
  background-color: var(--aditional-color);
}

/*   projects    */

.project-link {
  text-decoration: none;
}
.project-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: none;
}

.project-description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
}

/* footer */
.footer {
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
}
.logo-light {
  color: var(--main-text-color);
  text-decoration: none;
}

.footer-link {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
.footer-link:hover,
.footer-linkt:focus {
  color: var(--aditional-color);
}

/* body html*/

.body-studio {
  font-size: 14px;
  line-height: 1.7;
}

/*  main content*/

.prime-section {
  background-color: var(--secondary-background-color);
}

.prime-title {
  color: var(--main-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}
.prime-btn {
  color: var(--main-text-color);
  font-family: inherit;
  background-color: var(--aditional-color);
  font-size: 16px;
  line-height: 1.9;
}
.prime-btn:active,
.prime-btn:hover,
.prime-btn:focus {
  background-color: var(--aditional-color);
  color: var(--main-text-color);
}
.button {
  cuorsor: pointer;
}

/*section features*/
/*title2*/

.title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}
/*title3*/
.sub-title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
}
/*p*/
.features-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}
/* section What we are doing*/

/* section team*/
.Team {
  background-color: var(--background-extra-color);
}
.team-description {
  background-color: var(--main-text-color);
}

.item-teammate {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}

.item-position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
}
